@namespace Flare.Components
@inherits FlareComponentBase

<div class="@BuildCssClass()" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    /// <summary>Main body content of the card.</summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override string ComponentCssClass => Css.Classes.Card.Content;
}
