<FlareStack Gap="FlareSpacing.Large">
    <FlareChart Type="ChartType.StackedBar" Title="Stacked bar" Data="_stacked" />
    <FlareStack Row Wrap Gap="FlareSpacing.Large">
        <div style="flex:1;min-width:16rem;">
            <FlareChart Type="ChartType.Scatter" Title="Scatter" Data="_scatter" />
        </div>
        <div style="flex:1;min-width:16rem;">
            <FlareChart Type="ChartType.Radar" Title="Radar" Data="_radar" />
        </div>
    </FlareStack>
</FlareStack>
