@* FullWidth растягивает группу на всю ширину контейнера *@
<div style="max-width:480px;">
    <FlareButtonGroup FullWidth Variant="ButtonVariant.Outlined">
        <FlareButton>Day</FlareButton>
        <FlareButton>Week</FlareButton>
        <FlareButton>Month</FlareButton>
        <FlareButton>Year</FlareButton>
    </FlareButtonGroup>
</div>
