.flare-avatar-group {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.flare-avatar-group .flare-avatar,
.flare-avatar-group__overflow {
    margin-inline-start: var(--flare-avatar-group-spacing);
    border: var(--flare-avatar-group-border-width) solid var(--flare-avatar-group-border-color);
    box-sizing: content-box;
    position: relative;
}

.flare-avatar-group .flare-avatar:first-child,
.flare-avatar-group__overflow:first-child {
    margin-inline-start: 0;
}

.flare-avatar-group__overflow {
    background: var(--flare-avatar-overflow-bg);
    color: var(--flare-avatar-overflow-color);
    font-size: 0.75rem;
    font-weight: 600;
    cursor: default;
}
